
.Button {
	display: inline-block;
	padding: 0.75rem 1.5rem;
	text-align: center;

	background: linear-gradient(to right, #000, #666);
 	color: #FFF;
  	border: 1px solid #000;

	font-family: inherit;
  	font-size: 1rem;
  	font-weight: 600;
  	text-transform: uppercase;
  	letter-spacing: 0.05em;
  	cursor: pointer;
  	transition: all 0.2s ease;
  	text-decoration: none;
}

.SecondaryButton {
	background: linear-gradient(to right, #999, #666);
	color: white;
}

.DisabledButton {
	background: linear-gradient(to right, #ccc, #999);
	color: #666;
	cursor: not-allowed;
	
}

.loadingIcon {
	position: relative;
	top: 5px;
}