
.balances {
	width: max-content;
	margin-left: auto;
	margin-right: auto;
}

.tokenBalance {
	padding-left: 20px;
}

.vaultButtons {
	margin-top: 10px;
	width: 100%;
	display:flex;
	flex-direction: row;
	justify-content: space-around;
}