
.vaultWidget {
    border: solid 1px #000;
    border-radius: 13px;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 0.9em;
    width: 100%;
}

.balances {
	width: max-content;
	margin-left: auto;
	margin-right: auto;
}

.tokenBalance {
	padding-left: 20px;
}

.vaultButtons {
	margin-top: 10px;
	width: 100%;
	display:flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
}

.technicalDetails {
	margin-top: 1rem;
	font-size: 0.9em;
}

.technicalDetails ul {
	padding-left: 1.5rem;
}