.container {
	display: flex;
  justify-content: space-between;
  align-items: center;
}

.header {
  width: 100%;
}

.button  {

}

@media (max-width: 750px) {
  .container {
    flex-direction: column-reverse; /* stack elements, title below login */
    justify-content: center;
  }

  .header {
    width: 100%;
  }

  .button {
  	align-self: flex-end;  
  }
}