.nav {
  display: flex;
  justify-content: left;
  margin: 1px 1px;
  border-bottom: solid 1px #000;
}

.navItem {
  padding: 0 1rem;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.05em;
  text-decoration: none;
  display: inline-block;
}

a.navItem:hover {
	color: #57BCF2;
	background: #000;
}

.navMobile {
	display: block;
}


/* Desktop/tablet styles - centered modal */
@media (min-width: 768px) {
	.navMobile {
		display: none;
	}
}