
.vaultWidget {
    border: solid 1px #000;
    border-radius: 13px;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 0.9em;
    width: 100%;
}

.balances {
	width: max-content;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0.5rem;
}

.vaultBalance {
	text-align: center;
}

.tokenBalance {
	padding-left: 20px;
}

.vaultButtons {
	margin-top: 10px;
	width: 100%;
	display:flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
}

.txDetails {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.txStatus {
	margin-top: 0.5rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.txGoal {
	font-weight: bold;
}

.txProgress {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1em;
	margin: 0.5em 0;
}

.txSuccess {

}

.technicalDetails {
	margin-top: 1rem;
	font-size: 0.9em;
}

.technicalDetails ul {
	padding-left: 1.5rem;
}